# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
.env

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python-specific logs
*.log

# Build artifacts
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/
